.perkText {
    margin: 5px 10px 5px 0;
    
}

.tier {
    /* margin-top: 20px; */
    color: white;
    width: 25px;
    text-align: center;
    text-shadow: 0px 0px 3px rgb(255, 255, 255, 0.6)
}

.perk-list {
    display: flex;
    justify-content: space-between;
}

/* .option1-btn {
    margin: 30px 10px 0 10px;
    background: rgb(0, 163, 163);
    border: 1px solid cyan;
    box-shadow: 0 0 5px grey;
    border-radius: 40px;
    height: 40px;
    width: 140px;
    transition: box-shadow 0.5s;
}

.option2-btn {
    margin: 30px 10px 0 10px;
    background: rgb(255, 0, 0);
    border: 1px solid rgb(250, 81, 81);
    box-shadow: 0 0 5px rgb(50, 50, 50, 0.6);
    border-radius: 40px;
    height: 40px;
    width: 140px;
    transition: box-shadow 0.5s ;
} */

.pill {
    /* background: rgb(255, 0, 0);
    border: 1px solid rgb(250, 81, 81); */

    margin: 30px 10px 0 10px;
    box-shadow: 0 0 5px rgb(50, 50, 50, 0.6);
    border-radius: 40px;
    height: 40px;
    width: 140px;
    transition: box-shadow 0.5s ;
    color: white;
}

.blue {
    background: rgb(0, 163, 163);
    border: 1px solid cyan;
}

.red {
    background: rgb(255, 0, 0);
    border: 1px solid rgb(250, 81, 81);
}

.red:hover {
    box-shadow: 0 0 10px rgb(255, 0, 0, 1);
}

.blue:hover {
    box-shadow: 0 0 10px rgb(0, 163, 163, 1);
}

.blue:active, .red:active {
    padding-bottom: 5px;
}

.option1-btn, .option2-btn span {
    color: white;
    text-shadow: 0 0 3px rgb(255, 255, 255, 0.2);
}